<IfModule mod_rewrite.c>
    RewriteEngine On

    # Block access to /install directory
    RewriteRule ^install/ - [F,L]
    # RewriteBase /
    
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # If the request is for an existing file or directory, serve it
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Otherwise, route everything to index.php
    RewriteRule ^ index.php [L]
</IfModule>
